*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
nav{
    width:100%;
    height:70px;
    /* background-color: pink;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px grey;
    position: fixed;
    background-color: white;
}
body{
     font-family: 'Open Sans', sans-serif;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:75px;
    height:67px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
}
a{
    text-decoration: none;
    color:black;
    cursor: pointer;
    
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.icon1{
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.search-container{
    position:relative;
    width:300px;
}
.search-box {
      width: 100%;
      height:35px;
      padding: 5px 10px; 
      /* border: 2px solid grey; */
      /* border-radius: 25px; */
      border:none;
      font-size: 14px;
      background-color: rgba(128, 128, 128, 0.151);
    }
    .search-icon {
      position: absolute;
      right: 15px;
      top: 50%; /*use only top not to perfectly center this icon*/
      transform: translateY(-50%);    /*icon perfectly centered.*/
      cursor: pointer; 
    }


a:hover{
    text-decoration: underline;
    color:#c2185b;
}
.icon1:hover{
    color:#c2185b;
}
.lab{
    display: none;
}
.checkbox{
    display: none;
}


/* Navigation bar mobile and tab view */
/* logo mobile and tab view */
@media screen and (min-width: 300px) and (max-width: 780px){

.logo{
    height:50px;
}
.logo-container h3{
    font-size: 16px;
}
.search-container{
    position: absolute;
    top:65px;
    width:100%;
}
.search-box{
    border-radius: 20px;;
}
.icon1 h3{
    display: none;
}

nav{
    height:60px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
}
.checkbox{
    display: none;
}
.lab{
    display: block;
}
 .link {
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: -100%;
    width: 60%;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .checkbox:checked ~ .link {
    left: 0;
  }

}

/* contact section */

/* .container{
    width:100%;
    height:600px;
    border:2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.controler{
    width:100%;
    height:400px;
    /* border:2px solid blue; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-div{
    width:40%;
    height:300px;
    background-color: rgba(128, 128, 128, 0.247);
    border-radius: 10px;
   
    
}
.name{
    width:100%;
    height:40px;
    border:2px solid #c2185b;

}
.msg{
    width:100%;
    height:60px;
    border:2px solid #c2185b;

}
.btn{
    width:100%;
    height:40px;
    background-color: #c2185b;
    border:none;
}
h2{
    text-align: center;
    margin: 10px;
    color: #c2185b;
}
.container h1{
    color:#c2185b;
    margin-bottom:20px;
}
footer{
    width:100%;
    height:300px;
    background-color:#c2185b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}
footer h1{
    font-size:40px;
}
footer h5{
    font-size: 20px;
    margin:10px;
} */



/* contact session */

.container{
    width:100%;
    height:600px;
     
}
.first{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    background-color: #c2185b;
}
.first{
    color:white;
}
.first h1{
    margin-top:40px;
}
.controler{
     display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.left{
    width:50%;
    /* border:2px solid red; */
    height:400px;
     display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
    padding:40px;
}
.right{
    width:50%;
    /* border:2px solid red; */
    height:600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
    padding:40px;

}

.left .content{
color:#c2185b;
}

.right .content{
color:#c2185b;
}
.right input{
    width:400px;
    height:30px;
    outline:0;
}
textarea{
    width:400px;
    height:100px;
}
.btn{
    background-color:#c2185b;
    font-size: 16px;
    color:white;
    width:100px;
    height:50px;
    /* margin-top:20px; */
}
.box-container{
    width:100%;
    height:400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #c2185b;
}
.box{
    width:300px;
    height: 300px;
    /* border:2px solid black; */
    color:white;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.box p{
   margin-top:20px;
}
.font{
    float: left;
    font-size:40px;
    margin-right:5px;
    
}
.box a{
    color:white;
}
.head{
    margin-top:10px;
}

@media screen and (min-width: 300px) and (max-width: 580px){
    .container{
        width:100%;
        height:fit-content;
    }
    .first{
        width:100%;
        height: 200px;
        margin-top:50px;
        
    }
    .first h1{
        margin-top:0px;
    }
    .controler{
        width:100%;
        flex-direction: column;
    }
    .left{
        width:100%;
        height:fit-content;
    }
    .right{
        width:100%;
        height:fit-content;
    }
    .box-container{
        width:100%;
        height:fit-content;
        flex-direction: column;
    }
 .right input{
    width:300px;;
    height:30px;
}  
textarea{
    width:300px;
} 
    }

@media screen and (min-width: 581px) and (max-width: 780px){
.container{
        width:100%;
        height:fit-content;
    }
    .first{
        width:100%;
        height: 200px;
        margin-top:50px;
        
    }
    .first h1{
        margin-top:0px;
    }
    .controler{
        width:100%;
        flex-direction: column;
    }
    .left{
        width:100%;
        height:fit-content;
    }
    .right{
        width:100%;
        height:fit-content;
    }
    .box-container{
        width:100%;
        height:fit-content;
        flex-direction: column;
    }
 .right input{
    width:650px;
    height:30px;
}  
textarea{
    width:650px;
} 
    }


