*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
nav{
    width:100%;
    height:70px;
    /* background-color: pink;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px grey;
    position: fixed;
    background-color: white;
}
body{
     font-family: 'Open Sans', sans-serif;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:75px;
    height:67px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
}
a{
    text-decoration: none;
    color:black;
    cursor: pointer;
    
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.icon1{
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.search-container{
    position:relative;
    width:300px;
}
.search-box {
      width: 100%;
      height:35px;
      padding: 5px 10px; 
      /* border: 2px solid grey; */
      /* border-radius: 25px; */
      border:none;
      font-size: 14px;
      background-color: rgba(128, 128, 128, 0.151);
    }
    .search-icon {
      position: absolute;
      right: 15px;
      top: 50%; /*use only top not to perfectly center this icon*/
      transform: translateY(-50%);    /*icon perfectly centered.*/
      cursor: pointer; 
    }


a:hover{
    text-decoration: underline;
    color:red;
}
.icon1:hover{
    color:red;
}
.lab{
    display: none;
}
.checkbox{
    display: none;
}

/* Navigation bar mobile and tab view */
@media screen and (min-width: 300px) and (max-width: 780px){

.logo{
    height:50px;
}
.logo-container h3{
    font-size: 16px;
}
.search-container{
    position: absolute;
    top:65px;
    width:100%;
}
.search-box{
    border-radius: 20px;;
}
.icon1 h3{
    display: none;
}

nav{
    height:60px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
}
.checkbox{
    display: none;
}
.lab{
    display: block;
}
 .link {
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: -100%;
    width: 60%;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .checkbox:checked ~ .link {
    left: 0;
  }

}


/* login page profile */

.container{
    width:100%;
    height:600px;
    border:2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page{
    width:500px;
    height:500px;
    background-color: #c2185b;
    margin-top:60px;
    border-radius: 20px;
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
#email,#password{
    outline:0;
    width:100%;
    height:50px;
    border-radius: 20px;
    border:none;
    padding:20px;
}
.login-page button{
    width:120px;
    height:50px;
    text-align: center;
    border-radius: 20px;
    border:none;
    font-size:16px;
    color:#c2185b;
    font-weight: bold;
}
.login-page button:hover{
    background-color: #c2185b;
    color:white;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}
.login-page a{
    color:white;
    font-weight: bold;
}
.login-page a:hover{
    color:yellow;
    text-decoration: none;
}

/* login page mobile view */  
/*tab view default seted*/
@media screen and (min-width: 300px) and (max-width: 580px){
 .container{
    width:100%;
    height:fit-content;
    padding:20px;
 }   
}