*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
nav{
    width:100%;
    height:70px;
    /* background-color: pink;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px grey;
    position: fixed;
    background-color: white;
}
body{
     font-family: 'Open Sans', sans-serif;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:75px;
    height:67px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
}
a{
    text-decoration: none;
    color:black;
    cursor: pointer;
    
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.icon1{
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.search-container{
    position:relative;
    width:300px;
}
.search-box {
      width: 100%;
      height:35px;
      padding: 5px 10px; 
      /* border: 2px solid grey; */
      /* border-radius: 25px; */
      border:none;
      font-size: 14px;
      background-color: rgba(128, 128, 128, 0.151);
    }
    .search-icon {
      position: absolute;
      right: 15px;
      top: 50%; /*use only top not to perfectly center this icon*/
      transform: translateY(-50%);    /*icon perfectly centered.*/
      cursor: pointer; 
    }


a:hover{
    text-decoration: underline;
    color:red;
}
.icon1:hover{
    color:red;
}
.lab{
    display: none;
}
.checkbox{
    display: none;
}

/* Navigation bar mobile and tab view */
@media screen and (min-width: 300px) and (max-width: 780px){

.logo{
    height:50px;
}
.logo-container h3{
    font-size: 16px;
}
.search-container{
    position: absolute;
    top:65px;
    width:100%;
}
.search-box{
    border-radius: 20px;;
}
.icon1 h3{
    display: none;
}

nav{
    height:60px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
}
.checkbox{
    display: none;
}
.lab{
    display: block;
}
 .link {
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: -100%;
    width: 60%;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .checkbox:checked ~ .link {
    left: 0;
  }

}
/* saree sectiom */
.sec-2{
     width:100%;
    height:600px;
    /* border:2px solid red; */
}
.saree{
    width:100%;
    height:600px;
    padding-top: 60px;
}

.saree-logo{
    height:100px;
    width:100px;
    border-radius: 50%;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    width:100%;
    height:400px;
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.product{
    width:300px;
    height:400px;
    border:2px solid #c2185b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con{
    width:100%;
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    color: #c2185b;
}
.price{
    display: flex;
    flex-direction: row;
    gap:20px; 
    font-size: 15px;
}
.img1 {
    width: 100%;
    height: 80%;
    background-image: url("./assets/saree-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.img2 {
    width: 100%;
    height: 80%;
    background-image: url("./assets/2nd-Saree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.img3 {
    width: 100%;
    height: 80%;
    background-image: url("./assets/3rd-saree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.img4 {
    width: 100%;
    height: 80%;
    background-image: url("./assets/4th-saree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
/* Sliding box */
.hover-box {
    position: absolute;
    bottom: -120px; /* hidden initially */
    left: 0;
    width: 100%;
    background: rgba(255,192,203,0.9);
    color: #000;
    text-align: center;
    padding: 10px;
    transition: bottom 0.5s ease;
    z-index: 2;
    color:#e91e63;
}

.img1:hover .hover-box {
    bottom: 0; /* slides up */
}
.img2:hover .hover-box {
    bottom: 0; /* slides up */
}
.img3:hover .hover-box {
    bottom: 0; /* slides up */
}
.img4:hover .hover-box {
    bottom: 0; /* slides up */
}

/* Button style */
.btn {
    background: #e91e63;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
}
.btn:hover {
    background: #c2185b;
}
.fa-star{
    color:#c2185b;
}
.fa-star-half-stroke{
    color: #c2185b;
}
.btn a{
    color:white;
}
.btn a:hover{
    color:black;
    text-decoration: none;
}
.heart{
    position: absolute;
    right:10px;
    color:#c2185b;
    background-color: transparent;
    border: none;
    width:50px;
    height:40px;
    font-size: 25px;
    font-weight: 10px;
}



/* Tablet view (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .first {
    flex-wrap: wrap;              /* allow wrapping */
    justify-content: center;      /* center items */
    gap: 20px;                    /* space between products */
    height: auto;                 /* auto height */
  }

  .product {
    width: 45%;                   /* 2 products per row */
    height: 380px;
  }
}

/* Mobile view (max-width: 600px) */
@media screen and (max-width: 600px) {
  .first {
    flex-direction: column;       /* stack vertically */
    align-items: center;
    height: auto;
    gap: 20px;
  }

  .product {
    width: 90%;                   /* full width on mobile */
    height: 380px;
  }

  .saree-logo {
    height: 70px;
    width: 70px;
  }

  .head h1 {
    font-size: 20px;
    text-align: center;
  }
}
