*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
nav{
    width:100%;
    height:70px;
    /* background-color: pink;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px grey;
    position: fixed;
    background-color: white;
}
body{
     font-family: 'Open Sans', sans-serif;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:75px;
    height:67px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
}
a{
    text-decoration: none;
    color:black;
    cursor: pointer;
    
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.icon1{
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.search-container{
    position:relative;
    width:300px;
}
.search-box {
      width: 100%;
      height:35px;
      padding: 5px 10px; 
      /* border: 2px solid grey; */
      /* border-radius: 25px; */
      border:none;
      font-size: 14px;
      background-color: rgba(128, 128, 128, 0.151);
    }
    .search-icon {
      position: absolute;
      right: 15px;
      top: 50%; /*use only top not to perfectly center this icon*/
      transform: translateY(-50%);    /*icon perfectly centered.*/
      cursor: pointer; 
    }


a:hover{
    text-decoration: underline;
    color:#c2185b;
}
.icon1:hover{
    color:#c2185b;
}
.lab{
    display: none;
}
.checkbox{
    display: none;
}
/* Home section */
.section-1{
    width:100%;
    height:605px;
    display: flex;
    justify-content: space-around;
    padding:30px;
    background-color: rgba(128, 128, 128, 0.178);
    /* border: 2px solid red; */


}
.home-left{
    width:60%;
    height:90%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding:60px;
}

.home-left p{
    margin-top:20px; 
    font-size: 20px;
}
.home-left h1{
    font-size:50px;
    margin-top: 20px;
    color:#c2185b;
}
.home-left h2{
    margin-top:20px;
    font-size: 30px;
}
.home-left h4{
    margin-top:20px;
    font-size: 20px;
}
.home-right{
    width:40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /* border: 2px solid blue; */
}
.home-image{
    width:80%;
    height:85%;
}
.home-but{
    width:100px;
    height:35px;
    font-size:15px;
    margin-top: 30px;
}
.home-but:hover{
    color:#c2185b;
    cursor: pointer;
}

/* Navigation bar mobile and tab view */
/* logo mobile and tab view */
@media screen and (min-width: 300px) and (max-width: 780px){

.logo{
    height:50px;
}
.logo-container h3{
    font-size: 16px;
}
.search-container{
    position: absolute;
    top:65px;
    width:100%;
}
.search-box{
    border-radius: 20px;;
}
.icon1 h3{
    display: none;
}

nav{
    height:60px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
}
.checkbox{
    display: none;
}
.lab{
    display: block;
}
 .link {
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: -100%;
    width: 60%;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .checkbox:checked ~ .link {
    left: 0;
  }

}

/* home page mobile and tab view */
@media screen and (min-width: 300px) and (max-width: 580px){
.section-1{
    width:100%;
    height: fit-content;
    flex-direction: column;
    padding:0px;
    gap:0px;
}
.home-left{
    width:100%;
    height: fit-content;
}
.home-left h1{
    font-size: 22px;
}
.home-left p{
    font-size: 16px;
    text-align: justify;
}
.home-but{
    
    text-align: center;
}
.home-left h4{
    font-size: 16px;
}
.home-left h2{
    font-size: 20px;;
}
.home-right{
    width:100%;
    height:fit-content;
    padding: none;
}

}
@media screen and (min-width: 581px) and (max-width: 780px){

    .home-left{
    width:100%;
    height: fit-content;
    margin-bottom: 0px;
}
.home-left h1{
    font-size: 20px;
}
.home-left p{
    font-size: 16px;
    text-align: justify;

}
.home-left h4{
    font-size: 16px;
}
.home-left h2{
    font-size: 20px;;
}
.home-right{
    width:100%;
    padding:20px;
    margin-top: 0px;
    height:fit-content;
}
.home-image{
    height:400px;
}
}

